
/* MAX-WIDTH 420PX */

@media screen and (max-width: 420px) {

    body{
        font-size: 1.5rem;
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
      width: 100%;
    
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
     width: 100%;
}

