
/* MAX-WIDTH 420PX */

@media screen and (max-width: 420px) {

    body{
        font-size: 0.7rem;
        margin: 0;
    }

    .row{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .row h3{
        margin: 0;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
      width: 100%;
      margin-bottom: 5px;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
     width: 100%;
     margin-top: 10px;
     margin-bottom: 5px;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
    margin-top: 10px;
    }


    #why, #lezioni{
        background-color: #f2f2cd;
    }

    #lezioni .row img,
    #steps .row img {
        width: 30%;
        height: 100%;
    }

    #why .row img{
        width: 20%;
        height: 100%;
        padding: 20px;
    }


}